<article>
  
        <div class="card">

            <label for="distanceInput">Distance en km</label>
            <input matInput id="distanceInput" name="distance" value="{{distance$ | async}}" readonly>
        </div>
         
        
        <div class="card">
            <label for="nbStopsInput">Nombre d'arret</label>
            <input matInput id="nbStopsInput" name="nbStops" value="{{nbStops$ | async}}" readonly>
        </div>
        
        
        <div class="card">
            <label for="timeStopsInput">Temps pour une recharge en minutes</label>
            <input  matInput id="timeStopsInput" name="timeStop"  value="{{timeStop$ | async | hours}}" readonly>
        </div>

        <div class="card">
            <label for="autonomy">Autonomie de la voiture en KM</label>
            <input  matInput id="autonomy" name="autonomy"  value="{{autonomy$ | async}}" readonly>
        </div>

        <div class="card">
            <label for="price">Prix du trajet en €</label>
            <input  matInput id="price" name="price"  value="{{price$ | async}}" readonly>
        </div>
        

    <div *ngIf="tempsTrajet$" class="card">
        
        <label for="durationInput">Temps de trajet</label>
        <input id="durationInput" name="duration"  value="{{tempsTrajet$ | async | hours}}" readonly>
    </div>

</article>