<article>
    <form #calculForm="ngForm" (ngSubmit)="onSubmitForm(calculForm)">
    
        <label for="distanceInput">Distance en km</label>
        <input id="distanceInput" name="distance" type="number" [(ngModel)]="distance">
        
        <label for="vitesseInput">Vitesse en km/h</label>
        <input id="vitesseInput" name="speed" type="number" [(ngModel)]="speed">
        
        <label for="nbStopsInput">Nombre d'arret</label>
        <input id="nbStopsInput" name="nbStops" type="number" [(ngModel)]="nbstops">
        
        <label for="timeStopsInput">Temps pour une recharge en h</label>
        <input id="timeStopsInput" name="timeStop" type="number" [(ngModel)]="timestop">
        
        <button type="submit">Calculer</button>
    </form>

    <div *ngIf="resultat">
        <hr>
        <p>Resultat : {{ resultat }}</p>
    </div>

</article>