.container2{
    display: flex;
    flex-direction: row;
}

article{
    width: 30em;
}

.card{
    margin-left: 3em;
    margin-right: 3em;
    padding: 1em;
    justify-content: space-between;
}

label{
    display: flex;
    align-self: flex-start;
}

input{
    background-color: #BFD4BD;
    border-radius: 50px;
    padding: 1em;
}